<nav class="navbar navbar-light bg-light">
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <!-- <a href="#"><i class="fas fa-infinity fa-2x" style="color: rgba(8, 63, 23, 0.87);"></i></a> -->
    <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHQSURBVFhH7ZY/SxxBGIePaCxs1CiimFb9DBapRQQFwT+FWAjBykaJQVMEgl9AKy38CjYqqJWVWKSOaKuFFsZWjGieZ9mFYzncvZs9be4HD8y8+85vZ2dn3t1SQw3VqDE4gb8xto29iRbgGV5SGPsKddcteMMl6Iixbcxrddc1JBP4FLMcx26grvoAO+DNKnEFi9AFhWsULiB903/wlIrdwzQUpl+QmLvMP2EI2kA1QR/MwDGY56YcgWDNgoaP8B1aIUtr4JjTqBeoc9BsPurlUyc45i7qBcp3rNnHqJdPybE8i3qB+gOaubuz1AI/wE3pHhiHYE1AUvn2YA4+QyIL0RdYB4+heeZ/g8Lk02tcTjKpSmyBBSpYw7ALD1DpRq/hazgAPaqWlWwfEjMncAir4NnuB5e+Oca2Ma+ZY275pPXKXR3b4RIc6Kd2BWpZTsc4Vg+99NQ7U9vggN/QYyBQeuilp3sjU9ZxkweiXjHSS0+9M/XuE3CZTC7qFfRCVa+gfBM649BNmKxo7k2oHJw+hn5mLbP+FwyCR8/vg9g25jVzzE0fw1oeIioiFpP0D0ceggpRWt0wBZtwBC6n59t/BLFtzAK0AZPgmIYaylCp9B+l67Peoda+kwAAAABJRU5ErkJggg=="></a>
    <a class="navbar-brand pl-2 " href="#">Rock Id</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Administration</a>
        </li>
      </ul>
      <span class="navbar-text">
        Welcome, Ernie Paschall
      </span>
    </div>
  </nav>
</nav>