<p class="mb-5">
  Identify New Rock
</p>

<div class="container">
  <div class="row justify-content-around">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          What is the grain size?
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
              checked>
            <label class="form-check-label" for="exampleRadios1">
              Glassy (no visible grains)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Fine Grained (not easy to see grains)
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
              disabled>
            <label class="form-check-label" for="exampleRadios3">
              Mixed Fine and Coarse
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"
              disabled>
            <label class="form-check-label" for="exampleRadios3">
              Medium to Coarse
            </label>
          </div>
        </div>
        <div class="card-footer">
          <div class="clearfix">                      
            <button type="button" class="btn btn-outline-info float-left" disabled>Previous</button>                       
            <button type="button" class="btn btn-outline-success float-right">Next</button>
            <button type="button" class="btn btn-outline-danger float-right mr-3">Cancel</button>  
          </div>
        </div>

      </div>

    </div>
  </div>
</div>