USE [master]
GO
/****** Object:  Database [IdentifyRock]    Script Date: 2/15/2019 9:32:57 PM ******/
CREATE DATABASE [IdentifyRock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IdentifyRock', FILENAME = N'/var/opt/mssql/data/IdentifyRock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IdentifyRock_log', FILENAME = N'/var/opt/mssql/data/IdentifyRock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IdentifyRock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IdentifyRock]
GO
USE [IdentifyRock]
GO
/****** Object:  Table [dbo].[Qarps]    Script Date: 2/15/2019 9:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qarps](
	[Id] [nvarchar](36) NOT NULL,
	[ParentId] [nvarchar](36) NULL,
	[IsQuestion] [bit] NOT NULL,
	[DisplayText] [nvarchar](300) NOT NULL,
	[DisplayOrder] [int] NULL,
	[RockType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Qarps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
