.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0);
  background-color: #eee;
  border-radius: 5px;
}

.navbar .fixed-top{
  border-bottom: 1px solid #bbb;
}
